################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/音声認識テストアプリ/音声認識テストアプリ/obj/Debug
/音声認識テストアプリ/.vs/音声認識テストアプリ/v15/Server/sqlite3
/音声認識テストアプリ/.vs/音声認識テストアプリ/v15/.suo
/音声認識テストアプリ/音声認識テストアプリ/bin/Debug
/音声認識テストアプリ/packages
